.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 24px;

  background: #111827;
  color: #fff;

  border-top: 1px solid #333;
}

.footer-right a {
  color: #fff;
  transition: all 0.3s ease;
}

.footer-right a:hover {
  color: #fff;
  transform: scale(1.1);
}

